/* navbar */

.sidenav {
    height: 100%;
    width: 66px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a .fa {
    font-size: 35px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.navbar {
    margin-top: 60vh;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* end navbar  */


/* searchbar  */

.search {
    width: 28%;
    position: absolute;
    display: flex;
    margin-top: -586px;
    margin-left: 66px;
}

.searchTerm {
    width: 100%;
    border: 1px solid black;
    border-right: none;
    padding: 17px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/* end serchbar  */


/* log in  */

.box {
    height: auto;
    width: 28%;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 51px;
    margin-top: -548px;
    color: #fff;
    padding: 1vh;
    position: absolute;
}

.box1 {
    height: auto;
    background-color: rgb(233, 7, 7);
    overflow-x: hidden;
    color: #fff;
    margin-left: 51px;
    padding: 5px;
    width: 28%;
    margin-top: -448px;
    position: absolute;
}

.scroller {
    width: 28%;
    height: 398px;
    overflow-y: scroll;
    scrollbar-color: white rebeccapurple;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-left: 51px;
    padding-top: 5vh;
    background-color: #fff;
    position: absolute;
    margin-top: -399px;
}

.font1 {
    font-size: 11px;
    font-weight: 800;
}

.font2 {
    font-size: 14px;
}

.hr {
    margin: 5px;
}

@media(max-width: 600px) {
    .box {
        width: 80%;
        margin-left: 9vh;
    }
    .box1 {
        width: 80%;
        margin-left: 9vh;
    }
    .scroller {
        width: 80%;
        margin-left: 9vh;
    }
    .btn {
        width: auto;
    }
    .search {
        width: 79%;
        position: absolute;
        display: flex;
        margin-top: -586px;
        margin-left: 78px;
    }
    .side {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .box {
        width: 80%;
        margin-left: 9vh;
    }
    .box1 {
        width: 80%;
        margin-left: 9vh;
    }
    .scroller {
        width: 80%;
        margin-left: 9vh;
    }
    .btn {
        width: auto;
    }
    .search {
        width: 79%;
        position: absolute;
        display: flex;
        margin-top: -586px;
        margin-left: 78px;
    }
}


/* example  */

.side {
    height: auto;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 79px;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 29vh;
}

@media(max-width:600) {
    .side {
        left: 0px;
    }
}

.side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side a:hover {
    color: #f1f1f1;
}

.side .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* login page  */

.login {
    background-color: black;
    width: 93%;
}

.logo {
    margin-left: 20vh;
}