.navbar-nav {
    margin-left: 70vw;
}

.container {
    margin-top: 15vh;
}

.btn {
    margin-top: 5vh;
}

.all {
    margin-top: 8vh;
}

.first-font {
    color: brown;
    font-weight: 600;
}


/* login  */

.logo-image {
    margin-top: 0px;
    margin-left: 30vh;
    margin-bottom: 10vh;
}


/* end login  */


/* blogs  */

.fa-size {
    font-size: 40px;
}


/* end blogs  */


/* media  */

@media (max-width:600px) {
    .img-responsive {
        width: 100%;
    }
    .map {
        margin: 10px;
        padding: 3px 15px;
    }
    .embed-responsive-16by9 {
        height: 70%;
    }
    .logo-image {
        margin-top: 0px;
        margin-left: 13vh;
        margin-bottom: 10vh;
    }
}

@media (max-width:900px) {
    .img-responsive {
        width: 100%;
    }
    .map {
        margin: 10px;
        padding: 3px 15px;
    }
    .embed-responsive-16by9 {
        height: 70%;
    }
}

@media (max-width:1200px) {
    .img-responsive {
        width: 100%;
    }
    .map {
        margin: 10px;
        padding: 3px 15px;
    }
    .embed-responsive-16by9 {
        height: 60%;
    }
    .navbar-nav {
        margin-left: 60vw;
    }
}

@media(max-width:1024px) {
    .logo-image {
        margin-top: 0px;
        margin-left: 13vh;
        margin-bottom: 10vh;
    }
}

@media(max-width :768px) {
    .logo-image {
        margin-top: 0px;
        margin-left: 11vh;
        margin-bottom: 10vh;
    }
}


/* end media  */